<!DOCTYPE html>
<html>
<head>
  <title>Add Data Form</title>
  <link rel="stylesheet" type="text/css" href="add-product.component.css">
</head>
<body>
  <div class="container">
    <h2>Add Data</h2>
    <form>
      <input type="text" placeholder="ID" name="id" required [(ngModel)]="product.prodId">
      <input type="text" placeholder="Name" name="name" required [(ngModel)]="product.prodName">
      <input type="text" placeholder="Price" name="price" required [(ngModel)]="product.prodPrice">
      <input type="text" placeholder="Manufacturer Name" name="manufacturerName" required [(ngModel)]="product.prodManufacturer">
      <input type="submit" value="Add Product" (click)="addProduct()">
    </form>
  </div>
</body>
</html>

