mat-grid-tile{
    border: 1px solid lightblue;
}

img{
    object-fit:contain;
    width:200px;
    height:300px;
}

.product-rating{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: #388e3c;
    width: 80px;
    height: 30px;
    display: inline-block;
}

#original-price{
    margin-left: 10px;
}

.product-name{
    white-space: nowrap;
    max-width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-icon{
    background-color: black;
}

